
<%= form_with model: @friend do |form| %>
<div>
    <%=form.label :fullname,class:"form-label"%>
    <%=form.text_area :fullname,class:"form-control"%>
</div>
<div>
    <%=form.label :phone,class:"form-label"%>
    <%=form.text_area :phone,class:"form-control"%>
</div>
<div>
    <%=form.label :body,class:"form-label"%>
    <%=form.text_area :body,class:"form-control"%>
</div>
<div>
    <%=form.number_field :user_id,id: :friend_user_id,value: current_user.id ,type: :hidden%>
</div>

<div>
    <%=form.submit class:"btn btn-success" %>
</div>
<% end %>